.bg-purple {
    background-color: rgb(84, 46, 189);
}

.icon-purple {
    color: rgb(84, 46, 189);
}

@media screen and (min-width: 768px) {
    .rotate-md-img {
        transform: rotate(25deg);
        margin: 0;
        display:block;
        position: absolute;
        border:0;   
        width: 100%;  
     }
}