.bg-purple {
    background-color: rgb(84, 46, 189);
}

.icon-purple {
    color: rgb(84, 46, 189);
}

.press-img {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 30%;
}

@media screen and (min-width: 768px) {
    .rotate-md-img {
        transform: rotate(25deg);
        margin: 0;
        display:block;
        position: absolute;
        border:0;   
        
     }
}